.env
bin/*
vendor/*/
coverage.out
deploy/_outputs/*
upload
fixture/result.pdf
resource/*_test.go
bindata
!resource/resource_test.go
log/*.log

# Jetbrains Gogland
.idea/

# Visual Studio Code
debug
*.test
